#sketch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 5px;
    width: 640px;
    
}
#menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    margin-bottom: 5px;
    width: 640px;
    
}
