#sketch {
  margin: auto;
  

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
body {
  background-color: powderblue;
  float: left;
  position: relative;
  left: 50%;
}
